[submodule "external/zend-framework"]
	path = external/zend-framework
	url = https://github.com/xi-project/zend-framework
[submodule "external/xi-zend-application"]
	path = external/xi-zend-application
	url = git@github.com:xi-project/xi-zend-application.git
[submodule "external/xi-zend-mvc"]
	path = external/xi-zend-mvc
	url = git@github.com:xi-project/xi-zend-mvc.git
[submodule "external/xi-doctrine"]
	path = external/xi-doctrine
	url = git@github.com:xi-project/xi-doctrine.git
[submodule "external/Sham"]
	path = external/Sham
	url = git://github.com/anttih/Sham.git
[submodule "external/Pimple"]
	path = external/Pimple
	url = git://github.com/fabpot/Pimple.git
[submodule "external/xi-test-selenium"]
	path = external/xi-test-selenium
	url = git@github.com:xi-project/xi-test-selenium.git
