<phpunit bootstrap="./bootstrap.php" colors="true">
    <!-- Default test suite: run all tests -->
    <testsuites>
        <testsuite name="application">
            <directory>application</directory>
        </testsuite>
        <testsuite name="acceptance">
            <file>acceptance/AcceptanceTestSuite.php</file>
        </testsuite>
    </testsuites>
</phpunit>
